/* App.css */
/* App.css */

.container {
  display: flex;
  flex-direction: column;
  height: auto; /* Set the height of the container to full viewport height */
}

.section {
  flex: 1;
  border: 1px solid #ccc;
  margin: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  width: 250px;
  background-color: #f9f9f9;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  overflow-y: auto; /* Enable vertical scrolling if content overflows */
}

.weather-app {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}
.weather-appH1 {
  padding: 20px;
}

.input-container {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}
.weatherDisplay {
  margin-top: 5px;
  border: 1px solid black;
  border-radius: 8px;
  border: 1px solid #ccc;
  /* background-image: linear-gradient(45deg, green, pink); */
}

input[type="text"] {
  flex: 1;
  padding: 8px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

button {
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
/* Media query for smaller screens */
@media (max-width: 768px) {
  .weather-app {
    padding: 10px;
  }

  input[type="text"] {
    padding: 6px;
    font-size: 14px;
  }

  button {
    padding: 6px 12px;
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  .weather-app {
    padding: 5px;
  }

  input[type="text"] {
    padding: 4px;
    font-size: 12px;
  }

  button {
    padding: 4px 8px;
    font-size: 12px;
  }
}
