body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* App.css */

/* .container {
  display: flex;
  flex-direction: column;
  /* height: 100vh; Set the height of the container to full viewport height 
}

.section {
  flex: 1;
  border: 1px solid #ccc;
  margin: 5px;
  padding: 10px;
  overflow-y: auto; /* Enable vertical scrolling if content overflows 
} */
